*{margin:0; padding:0;}
body{
	background-color:#C3B988;
}
#wrap{
	width:960px;
	padding:10px;
	margin:0 auto;
	border-radius:50px;
}
#header{
	background-color:#43412C;
	color:white;
	padding:10px 10px;
	text-align:center;
	border-bottom:2px solid black;
	height:80px;
}
#header h2{
	font-family:arial;
	
}
#header p{
	font-style:italic;
	
}
#nav {
    background-color: #2C2D28;
    padding: 0px;
    font-style: italic;
    border-bottom: 2px solid black;
    height: 26px;
}
#nav ul{
	list-style-type:none;
	z-index:999;
	
}
#nav ul li {
	float:left;
	border-left:1px solid black;
}
#nav ul li a{
	text-decoration:none;
	padding:5px 5px;
	border-left:2px solid black;
	color:white;
	font-size:14px;
	display:block;
	text-align:center;
	-webkit-transition:0.3s all;
	-moz-transition:0.3s all;
}
#nav ul li :first-child{
	border-left:none;
}
#nav ul li a:hover{
	color:#93AA64;
	background-color:#008888;
	
}


#nav ul li{
	position:relative;
}
#nav ul li ul{
	position:absolute;left:-99999px;
	background:#4D908F;
}
#nav ul li:hover ul{
	left:0;
	
}
#nav ul li ul li:first-child{
	border-top:1px solid #6B710E;
}
#nav ul li ul li{
	float:none;
	border-right:none;
	border-bottom:1px solid #6B710E;
	width:150px;
	border-left:none;
	position:relative;
}
#nav ul li ul li ul{	
	position:absolute;
	top:-9999999px;
	background-color:#006666;
}
#nav ul li ul li:hover ul{	
	left:150px;
	top:0;
	border:1px solid green;
}

#section img{
	width:960px;
	height:250px;
	vertical-align:middle;
	border-bottom:2px solid black;
}

figcaption{
	text-align:center;
	font-weight:bold;
	font-family:arial;
	color:blue;
}
#left-content figure{
	background-color:#7F7F7F;
	padding:20px;
	margin:0px;
	border-radius:15px;
	border:1px solid black;
}
	
img{
	width:500px;
	height:200px;
	margin:0 auto;
	display:block;
}

#content{
	
	padding:10px;
	overflow:hidden;
	background-color:#884444;
}
#left-content{
	text-align:justify;
	width:620px;
	margin-right:60px;
	float:left;
	
}

	
	
#left-content h2{
	color:#4D5016;
}
#left-content p{
	color:#1EE193;
}
blockquote{
	background-color:#5D5D5D;
	padding:10px;
	margin:0px;
	border:0.2px solid black;
	border-radius:15px;
}
#name{
	background-color:black;
	padding:10px;
	margin:0px;
	border:0.2px black;
	border-radius:15px;
	margin-left:50px;
	margin-top:10px;
}

#sidebar{
	width:260px;
	text-align:justify;
	float:left;
	
}
#sidebar li{
	border-bottom:1px solid #555555;
	padding:5px;
	margin-top:7px;
		
}



#sidebar ul {
	border:1px solid black;
	border-radius:10px;
	text-align:center;
	transition:2s all;
}
#sidebar ul:hover {
	
	border-radius:50%;
	text-align:center;
	border-bottom:1px solid #555555;
}
#sidebar-aside h2{
	color:#CC0000;
	padding-top:50px;
	padding-bottom:10px;
}

#sidebar ul li{
	list-style-type:none;
	
}

#sidebar ul li a{
	color:#064FAC;
	text-decoration:none;
}
#sidebar ul li a:hover{	
	color:#CCCC99;
}
#footer{
	background-color:#008080;
	text-align:center;
	font-family:arial;
	font-size:20px;
	color:#800080;
}
h3{
	color:#AAAD74;
}
#content p{
	margin:15px 5px;
}
#content h2,h3{	
	margin:5px;
}


.imgp-wrap img {
    width: 105px;
    height: 143px;
    padding: -3px;
    margin: 8px;
    float: left;
    margin-right: 10px;
    margin-top: 25px;
	
}

.imgp-wrap1 img {
    width: 100px;
    height: 100px;
    padding: -3px;
    margin: 8px;
    float: left;
    margin-right: 10px;
	margin-top:23px;
	
}
.imgp-wrap2 img {
    width: 100px;
    height: 100px;
    padding: -3px;
    margin: 8px;
    float: left;
    margin-right: 10px;
	margin-top:-4px;
	
	
}
	
.imgp-wrap p{
	float:left;
	width:485px;
}	
#main_article_single{
	
	border-bottom:3px solid #AAAAAA;

	overflow:hidden;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	













